.header {
    background-color: #323232;

    @include tablet {
        display: flex;
        height: 80px;

        a {
            @include tablet {
                padding-left: 24px;
                display: flex;
            }

            @include desktop {
                padding: 0;
            }
        }
    }

    @include desktop {
        padding-left: 180px;
    }

    &__logo {
        height: 8vh;
        margin: auto;
        margin-bottom: 5px;
        padding-top: 5px;
        width: 40%;
        display: flex;
        font-family: "Avenir Demi Bold";
    
        @include mobile-medium {
            width: 30%;
        }
    
        @include mobile-big {
            width: 28%;
        }
    
        @include tablet {
            height: 80%;
            width: 100%;
        }
    }
}

// Navbar

@import "./navbar";