.nav {
    color: #FFFFFF;

    &__links {
        display: flex;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: "Avenir Demi Bold";
    }

    &__link {
        list-style-type: none;
        width: 50%;

        &--active {
            padding-bottom: 5px;
            border-bottom: 4px solid #FFFFFF;
        }
        
        @include mobile-medium {
            font-size: 1.2rem;
        }
    }
}