// Breakpoints

$mobile: 320px;
$mobile-medium: 460px;
$mobile-big: 650px;
$tablet: 768px;
$tablet-big: 870px;
$desktop: 1200px;
$desktop-big: 1500px;

// Colors

$black: #323232;
$complete-black: #000000;
$white: #FFFFFF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$silver: #AFAFAF;
$red: #D63447;