@font-face {
  font-family: "Avenir Regular";
  src: url("../assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Demi Bold";
  src: url("../assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/_Global Font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/_Global Font/Roboto/Roboto-Bold.ttf");
}

h1 {
  font-family: "Avenir Bold";
}

h2 {
  font-size: 0.95rem;
  font-family: "Avenir Bold";
  line-height: 22px;
}

h3 {
  font-size: 0.92rem;
  font-family: "Avenir Demi Bold";
}

h4 {
  font-size: 0.8125rem;
  line-height: 18px;
}

h5 {
  font-size: 0.75rem;
  line-height: 20px;
}

p {
  font-size: 0.8rem;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  color: #323232;
  font-family: 'Avenir Regular', sans-serif;
}

header {
  background-color: #323232;
}

@media screen and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  header a {
    padding-left: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  header a {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-left: 180px;
  }
}

.logo {
  height: 8vh;
  margin: auto;
  margin-bottom: 5px;
  padding-top: 5px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 768px) {
  .logo {
    height: 80%;
    width: 100%;
  }
}

.nav {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .nav {
    font-family: "Avenir Regular";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
  }
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 768px) {
  .nav__links {
    height: 100%;
    line-height: 80px;
  }
}

.nav__link {
  list-style-type: none;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .nav__link {
    margin-right: 30%;
  }
}

.nav__link--active {
  padding-bottom: 5px;
  border-bottom: 4px solid #FFFFFF;
  padding-right: 7%;
}

@media screen and (min-width: 460px) {
  .nav__link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 13px;
  }
}

.hero {
  height: 30vh;
  background-image: url("../assets/Images/hero-dj.jpeg");
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 650px) {
  .hero {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 670px;
  }
}

.hero__text {
  font-size: 1.5rem;
  line-height: 32px;
  padding-left: 16px;
  color: #FFFFFF;
  margin: 0;
  width: 70%;
}

@media screen and (min-width: 460px) {
  .hero__text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.2rem;
    line-height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 4.2rem;
    line-height: 80px;
    width: 50%;
    padding-left: 180px;
  }
}

.about {
  width: 85%;
  margin: 0 16px 40px;
}

@media screen and (min-width: 1200px) {
  .about__content {
    margin-left: 250px;
    width: 60%;
  }
}

@media screen and (min-width: 460px) {
  .about {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin-left: 24px;
    width: 95%;
  }
}

.about__header {
  margin: 4vh 0 3vh;
}

@media screen and (min-width: 460px) {
  .about__header {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .about__header {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__header {
    padding-left: 180px;
  }
}

.about__image {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .about__image {
    width: 100%;
    height: 70%;
  }
}

@media screen and (min-width: 460px) {
  .about__quote {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .about__quote {
    width: 93%;
    font-size: 1.5rem;
  }
}

.about__quote--author {
  margin: 0;
}

@media screen and (min-width: 460px) {
  .about__quote--author {
    font-size: 1rem;
  }
}

.about__article {
  margin-top: 2vh;
}

.about__article--title {
  margin-bottom: 4vh;
}

@media screen and (min-width: 460px) {
  .about__article--title {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .about__article--title {
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }
}

@media screen and (min-width: 768px) {
  .about__article--content {
    font-size: 1.1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 45%;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .about__article--content {
    font-size: 0.8rem;
    width: 40%;
    margin-right: 40px;
  }
}

.photo {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
}

@media screen and (min-width: 650px) {
  .photo {
    margin: 8vh 0;
  }
}

@media screen and (min-width: 768px) {
  .photo {
    padding-left: 24px;
    margin: 2vh 0;
  }
}

@media screen and (min-width: 1200px) {
  .photo {
    padding-left: 180px;
  }
}

.photo__title {
  padding-top: 2vh;
  margin-bottom: 4vh;
}

@media screen and (min-width: 768px) {
  .photo__title {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .photo__title {
    padding-bottom: 4vh;
  }
}

.photo__images {
  width: 94%;
}

@media screen and (min-width: 650px) {
  .photo__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .photo__images {
    width: 95%;
  }
}

.photo__image {
  margin-bottom: 16px;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .photo__image {
    width: 47%;
    padding-right: 2%;
  }
}

@media screen and (min-width: 768px) {
  .photo__image {
    width: 30%;
  }
}

.footer {
  margin-bottom: 0;
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 4%;
}

@media screen and (min-width: 460px) {
  .footer {
    padding: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 180px;
  }
}

.footer__getInTouch--title {
  padding-top: 10%;
}

@media screen and (min-width: 768px) {
  .footer__getInTouch--title {
    display: inline-block;
    padding-top: 3%;
    width: 30%;
  }
}

.footer__getInTouch--icons img {
  padding-right: 10%;
}

@media screen and (min-width: 460px) {
  .footer__getInTouch--icons img {
    padding: 0;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer__getInTouch--icons img {
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .footer__getInTouch--icons {
    display: inline-block;
  }
}

.footer__contacts {
  width: 90%;
}

@media screen and (min-width: 460px) {
  .footer__contacts {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    width: 70%;
  }
}

.footer__copyrights p:last-child {
  margin-bottom: 0;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer__copyrights p:last-child {
    padding-left: 5px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyrights {
    margin-top: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer__copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    visibility: visible;
    display: inline-block;
    text-align: right;
    width: 40%;
  }
}

.footer h4 {
  font-family: "Avenir Bold";
}

.footer h4,
.footer p {
  margin: 0;
}

.footer .margin-bottom {
  margin-bottom: 4vh;
}
/*# sourceMappingURL=main.css.map */