@font-face {
  font-family: "Avenir Regular";
  src: url("../assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Demi Bold";
  src: url("../assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/_Global Font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/_Global Font/Roboto/Roboto-Bold.ttf");
}

body {
  width: 100%;
  margin: 0;
  color: #323232;
  font-family: 'Avenir Regular', sans-serif;
}

h1 {
  font-family: "Avenir Bold";
}

h2 {
  font-size: 0.95rem;
  font-family: "Avenir Bold";
  line-height: 22px;
}

h3 {
  font-size: 0.92rem;
  font-family: "Avenir Demi Bold";
}

h4 {
  font-size: 0.8125rem;
  line-height: 18px;
}

h5 {
  font-size: 0.75rem;
  line-height: 20px;
}

p {
  font-size: 0.8rem;
}

header {
  background-color: #323232;
}

.logo {
  height: 8vh;
  margin: auto;
  margin-bottom: 16px;
  padding-top: 12px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Avenir Demi Bold";
}

.nav {
  color: #FFFFFF;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Avenir Demi Bold";
}

.nav__link {
  list-style-type: none;
  width: 50%;
}

.nav__link--active {
  padding-bottom: 5px;
  border-bottom: 4px solid #FFFFFF;
}

@media screen and (min-width: 460px) {
  .nav__link {
    font-size: 1.2rem;
  }
}

.hero {
  height: 45vh;
  background-image: url("../assets/Images/hero-dj.jpeg");
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 650px) {
  .hero {
    height: 80vh;
  }
}

.hero__text {
  font-size: 1.5rem;
  line-height: 32px;
  padding-left: 3%;
  color: #FFFFFF;
  margin: 0;
  width: 70%;
}

@media screen and (min-width: 460px) {
  .hero__text {
    font-size: 2rem;
  }
}

.about {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 16px;
}

@media screen and (min-width: 460px) {
  .about {
    width: 90%;
  }
}

.about__header {
  margin: 4vh 0 3vh;
}

@media screen and (min-width: 460px) {
  .about__header {
    font-size: 1.6rem;
  }
}

.about__image {
  width: 100%;
}

@media screen and (min-width: 460px) {
  .about__quote {
    font-size: 1.3rem;
  }
}

.about__quote--author {
  margin: 0;
}

@media screen and (min-width: 460px) {
  .about__quote--author {
    font-size: 1rem;
  }
}

.about__article {
  margin-top: 2vh;
}

.about__article--title {
  margin-bottom: 4vh;
}

@media screen and (min-width: 460px) {
  .about__article--title {
    font-size: 1.2rem;
  }
}

.photo {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
}

@media screen and (min-width: 650px) {
  .photo {
    margin: 8vh 0;
  }
}

.photo__title {
  padding-top: 5vh;
  margin-bottom: 2vh;
}

.photo__images {
  width: 94%;
}

@media screen and (min-width: 650px) {
  .photo__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.photo__image {
  margin-bottom: 16px;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .photo__image {
    width: 47%;
    padding-right: 2%;
  }
}

.footer {
  margin-bottom: 0;
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 4%;
}

@media screen and (min-width: 460px) {
  .footer {
    text-align: center;
  }
}

.footer__title {
  padding-top: 10%;
}

.footer__icons img {
  padding-right: 10%;
}

.footer__copyrights p:last-child {
  margin-bottom: 0;
  padding-bottom: 24px;
}

.footer h4 {
  font-family: "Avenir Bold";
}

.footer h4,
.footer p {
  margin: 0;
}

.footer .margin-bottom {
  margin-bottom: 4vh;
}
/*# sourceMappingURL=main.css.map */