@import "partials/mixins";
@import "partials/typography";

// Global

html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    color: #323232;
    font-family: 'Avenir Regular', sans-serif;
}

// Header

header {
    background-color: #323232;

    @include tablet {
        display: flex;
        height: 80px;

        a {
            @include tablet {
                padding-left: 24px;
                display: flex;
            }

            @include desktop {
                padding: 0;
            }
        }
    }

    @include desktop {
        padding-left: 180px;
    }
}

.logo {
    height: 8vh;
    margin: auto;
    margin-bottom: 5px;
    padding-top: 5px;
    width: 40%;
    display: flex;
    font-family: "Avenir Demi Bold";

    @include tablet {
        height: 80%;
        width: 100%;
    }
}

// Navbar

@import "partials/navbar";

// Hero

.hero {
    height: 30vh;
    background-image: url("../assets/Images/hero-dj.jpeg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;

    @include mobile-big {
        height: 300px;
    }

    @include tablet {
        height: 400px;
    }

    @include desktop {
        height: 670px;
    }

    &__text {
        font-size: 1.5rem;
        line-height: 32px;
        padding-left: 16px;
        color: #FFFFFF;
        margin: 0;
        width: 70%;

        @include mobile-medium {
            font-size: 2rem;
        }

        @include tablet {
            font-size: 3.2rem;
            line-height: 70px;
        }

        @include desktop {
            font-size: 4.2rem;
            line-height: 80px;
            width: 50%;
            padding-left: 180px;
        }
    }
}

// About

.about {
    width: 85%;
    margin: 0 16px 40px;

    &__content {
        @include desktop {
            margin-left: 250px;
            width: 60%;
        }
    }

    @include mobile-medium {
        width: 90%;
    }

    @include tablet {
        margin-left: 24px;
        width: 95%;
    }

    &__header {
        margin: 4vh 0 3vh;

        @include mobile-medium {
            font-size: 1.6rem;
        }

        @include tablet {
            font-size: 2.2rem;
        }

        @include desktop {
            padding-left: 180px;
        }
    }

    &__image {
        width: 100%;

        @include desktop {
            width: 100%;
            height: 70%;
        }
    }

    &__quote {

        @include mobile-medium {
            font-size: 1.3rem;
        }

        @include tablet {
            width: 93%;
            font-size: 1.5rem;
        }

        &--author {
            margin: 0;

            @include mobile-medium {
                font-size: 1rem;
            }
        }
    }

    &__article {
        margin-top: 2vh;

        &--title {
            margin-bottom: 4vh;

            @include mobile-medium {
                font-size: 1.2rem;
            }

            @include tablet {
                font-size: 1.5rem;
                margin-bottom: 1vh;
            }
        }

        &--content {
            @include tablet {
                font-size: 1.1rem;
                display: inline-flex;
                width: 45%;
                margin-right: 30px;

                @include desktop {
                    font-size: 0.8rem;
                    width: 40%;
                    margin-right: 40px;
                }
            }
        }
    }
}

// Photo

.photo {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding-left: 16px;

    @include mobile-big {
        margin: 8vh 0;
    }

    @include tablet {
        padding-left: 24px;
        margin: 2vh 0;
    }

    @include desktop {
        padding-left: 180px;
    }

    &__title {
        padding-top: 2vh;
        margin-bottom: 4vh;

        @include tablet {
            font-size: 2.2rem;
        }

        @include desktop {
            padding-bottom: 4vh;
        }
    }

    &__images {
        width: 94%;

        @include mobile-big {
            display: flex;
            flex-wrap: wrap;
        }

        @include tablet {
            width: 95%;
        }
    }

    &__image {
        margin-bottom: 16px;
        width: 100%;

        @include mobile-big {
            width: 47%;
            padding-right: 2%;
        }

        @include tablet {
            width: 30%;
        }
    }
}

// Footer

.footer {
    margin-bottom: 0;
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 4%;

    @include mobile-medium {
        padding: 0;
        text-align: center;
    }

    @include tablet {
        text-align: left;
        padding-left: 24px;
    }

    @include desktop {
        padding-left: 180px;
    }

    &__getInTouch {

        &--title {
            padding-top: 10%;

            @include tablet {
                display: inline-block;
                padding-top: 3%;
                width: 30%;
            }
        }

        &--icons {
            img {
                padding-right: 10%;

                @include mobile-medium {
                    padding: 0;
                    padding-right: 10px;
                }

                @include tablet {
                    margin-right: 32px;
                }
            }

            @include tablet {
                display: inline-block;
            }
        }
    }

    &__contacts {
        width: 90%;

        // display: inline-flex;
        // justify-content: space-between;

        @include mobile-medium {
            width: 100%;
        }

        @include tablet {
            display: inline-flex;
            width: 90%;
            justify-content: space-between;
        }

        @include desktop {
            width: 70%;
        }
    }

    &__copyrights {
        p:last-child {
            margin-bottom: 0;
            padding-bottom: 24px;

            @include tablet {
                padding-left: 5px;
            }
        }

        @include tablet {
            margin-top: 10px;
            display: inline-flex;
        }

        @include desktop {
            display: flex;
        }
    }

    &__logo {
        @media (max-width: 767px) {
            display: none;
        }

        @include tablet {
            visibility: visible;
            display: inline-block;
            text-align: right;
            width: 40%;
        }
    }

    h4 {
        font-family: "Avenir Bold";
    }

    h4,
    p {
        margin: 0;
    }

    .margin-bottom {
        margin-bottom: 4vh;
    }
}