@import "partials/mixins";
@import "partials/typography";

// Global

body {
    width: 100%;
    margin: 0;
    color: #323232;
    font-family: 'Avenir Regular', sans-serif;
}

h1 {
    font-family: "Avenir Bold";
}

h2 {
    font-size: 0.95rem;
    font-family: "Avenir Bold";
    line-height: 22px;
}

h3 {
    font-size: 0.92rem;
    font-family: "Avenir Demi Bold";
}

h4 {
    font-size: 0.8125rem;
    line-height: 18px;
}

h5 {
    font-size: 0.75rem;
    line-height: 20px;
}

p {
    font-size: 0.8rem;
}

// Header

header {
    background-color: #323232;
}

.logo {
    height: 8vh;
    margin: auto;
    margin-bottom: 16px;
    padding-top: 12px;
    width: 40%;
    display: flex;
    font-family: "Avenir Demi Bold";
}

// Navbar

@import "partials/navbar";

// Hero

.hero {
    height: 45vh;
    background-image: url("../assets/Images/hero-dj.jpeg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;

    @include mobile-big {
        height: 80vh;
    }

    &__text {
        font-size: 1.5rem;
        line-height: 32px;
        padding-left: 3%;
        color: #FFFFFF;
        margin: 0;
        width: 70%;

        @include mobile-medium {
            font-size: 2rem;
        }
    }
}

// About

.about {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;

    @include mobile-medium {
        width: 90%;
    }

    &__header {
        margin: 4vh 0 3vh;

        @include mobile-medium {
            font-size: 1.6rem;
        }
    }

    &__image {
        width: 100%;
    }

    &__quote {

        @include mobile-medium {
            font-size: 1.3rem;
        }

        &--author {
            margin: 0;

            @include mobile-medium {
                font-size: 1rem;
            }
        }
    }

    &__article {
        margin-top: 2vh;

        &--title {
            margin-bottom: 4vh;

            @include mobile-medium {
                font-size: 1.2rem;
            }
        }
    }
}

// Photo

.photo {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding-left: 5%;

    @include mobile-big {
        margin: 8vh 0;
    }

    &__title {
        padding-top: 5vh;
        margin-bottom: 2vh;
    }

    &__images {
        width: 94%;

        @include mobile-big {
            display: flex;
            flex-wrap: wrap;
        }

    }

    &__image {
        margin-bottom: 16px;
        width: 100%;

        @include mobile-big {
            width: 47%;
            padding-right: 2%;
        }
    }
}

// Footer

.footer {
    margin-bottom: 0;
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 4%;

    @include mobile-medium {
        text-align: center;
    }

    &__title {
        padding-top: 10%;
    }

    &__icons {
        img {
            padding-right: 10%;
        }
    }

    &__copyrights {
        p:last-child {
            margin-bottom: 0;
            padding-bottom: 24px;
        }
    }

    h4 {
        font-family: "Avenir Bold";
    }

    h4,
    p {
        margin: 0;
    }

    .margin-bottom {
        margin-bottom: 4vh;
    }
}