@font-face {
  font-family: "Avenir Regular";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Demi Bold";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

h1 {
  font-family: "Avenir Bold";
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
    line-height: 68px;
  }
}

h2 {
  font-size: 0.95rem;
  font-family: "Avenir Bold";
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h3 {
  font-size: 0.92rem;
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1rem;
    line-height: 24px;
  }
}

h4 {
  font-size: 0.8125rem;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.875rem;
    line-height: 22px;
  }
}

h5 {
  font-size: 0.75rem;
  line-height: 20px;
}

p {
  font-size: 0.8rem;
  color: #323232;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  color: #323232;
  font-family: 'Avenir Regular', sans-serif;
}

.header {
  background-color: #323232;
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .header a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header a {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-left: 180px;
  }
}

.header__logo {
  height: 8vh;
  margin: auto;
  margin-bottom: 5px;
  padding-top: 5px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 460px) {
  .header__logo {
    width: 30%;
  }
}

@media screen and (min-width: 650px) {
  .header__logo {
    width: 28%;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-left: 24px;
    height: 80%;
    width: 100%;
  }
}

.nav {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .nav {
    font-family: "Avenir Regular";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
  }
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 768px) {
  .nav__links {
    height: 100%;
    line-height: 80px;
  }
}

.nav__link {
  list-style-type: none;
  width: 50%;
  font-size: 1.1rem;
}

.nav__link a {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .nav__link {
    width: 100%;
    margin-right: 30%;
  }
}

.nav__link:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav__link--active {
  padding-bottom: 15px;
  border-bottom: 4px solid #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .nav__link--active {
    padding-right: 0;
  }
}

@media screen and (min-width: 460px) {
  .nav__link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav__link {
    margin-right: 56px;
    font-size: 13px;
  }
}

.hero {
  height: 183px;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__layer {
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 650px) {
  .hero {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 870px) {
  .hero {
    height: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 670px;
  }
}

.hero__content {
  font-size: 1.5rem;
  line-height: 32px;
  padding-left: 16px;
  color: #FFFFFF;
  margin: 0;
  width: 70%;
  z-index: 1;
}

@media screen and (min-width: 460px) {
  .hero__content {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding-left: 24px;
    font-size: 3.75rem;
    line-height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    font-size: 4.2rem;
    line-height: 80px;
    width: 50%;
    padding-left: 180px;
  }
}

.hero {
  background-image: url("../assets/images/hero-dj.jpeg");
}

.about {
  width: 85%;
  margin: 0 16px 40px;
}

@media screen and (min-width: 1200px) {
  .about__content {
    margin: auto;
    width: 60%;
  }
}

@media screen and (min-width: 1500px) {
  .about__content {
    width: 80%;
  }
}

@media screen and (min-width: 460px) {
  .about {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin-left: 24px;
    width: 95%;
  }
}

.about__header {
  margin: 4vh 0 3vh;
}

@media screen and (min-width: 460px) {
  .about__header {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .about__header {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__header {
    padding-left: 180px;
  }
}

.about__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about__image {
    width: 97%;
  }
}

@media screen and (min-width: 1200px) {
  .about__image {
    width: 100%;
    height: 70%;
  }
}

.about__quote {
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 460px) {
  .about__quote {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .about__quote {
    width: 93%;
    font-size: 1.5rem;
  }
}

.about__quote--author {
  margin: 0;
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 460px) {
  .about__quote--author {
    font-size: 1rem;
  }
}

.about__article {
  margin-top: 3vh;
}

.about__article--title {
  margin-bottom: 2vh;
}

@media screen and (min-width: 460px) {
  .about__article--title {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .about__article--title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .about__article--text {
    font-size: 1.1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 45%;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__article--text:first-of-type {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .about__article--text {
    font-size: 0.8rem;
    width: 42%;
  }
}

.photo {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
}

@media screen and (min-width: 650px) {
  .photo {
    margin: 8vh 0;
  }
}

@media screen and (min-width: 768px) {
  .photo {
    padding-left: 24px;
    margin: 2vh 0;
  }
}

@media screen and (min-width: 1200px) {
  .photo {
    padding-left: 180px;
  }
}

.photo__title {
  margin: 4vh 0;
}

@media screen and (min-width: 768px) {
  .photo__title {
    font-size: 2.2rem;
  }
}

.photo__images {
  width: 94%;
}

@media screen and (min-width: 650px) {
  .photo__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .photo__images {
    width: 100%;
  }
}

.photo__image {
  margin-bottom: 16px;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.photo__image:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media screen and (min-width: 650px) {
  .photo__image {
    width: 47%;
    padding-right: 2%;
  }
}

@media screen and (min-width: 768px) {
  .photo__image {
    width: 31%;
  }
}

@media screen and (min-width: 1200px) {
  .photo__image {
    width: 25%;
  }
}

.conversation {
  margin-left: 16px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .conversation {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .conversation {
    margin-left: 180px;
    width: 70%;
  }
}

.conversation__form {
  width: 94%;
}

@media screen and (min-width: 768px) {
  .conversation__form {
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .conversation__form {
    margin-left: auto;
    margin-right: auto;
  }
}

.conversation__heading {
  display: block;
  color: #AFAFAF;
  font-family: "Avenir Demi Bold";
  margin-bottom: 5px;
}

.conversation__comments {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .conversation__comments img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .conversation__comments {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .conversation__comments {
    margin-left: auto;
    margin-right: auto;
  }
}

.conversation input {
  border: 2px solid #323232;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  line-height: 2em;
  padding-left: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .conversation input {
    height: 48px;
    font-size: 1rem;
  }
}

.conversation textarea {
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  width: 100%;
  line-height: 2em;
  padding-left: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .conversation textarea {
    height: 96px;
    font-size: 1rem;
  }
}

.conversation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conversation__picture {
  margin-top: 12px;
  margin-right: 20px;
}

.conversation__details {
  width: 90%;
}

.conversation__details p {
  display: inline-block;
}

.conversation__details > p {
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .conversation__details {
    width: 460px;
  }
}

.conversation__nameAndDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .conversation__nameAndDate {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.conversation__nameAndDate-name {
  font-family: "Avenir Demi Bold";
}

@media screen and (min-width: 768px) {
  .conversation__nameAndDate-name {
    margin-right: 10px;
  }
}

.conversation__nameAndDate-date {
  color: #AFAFAF;
}

.conversation__card {
  width: 94%;
  border-bottom: 1px solid #E1E1E1;
}

.conversation__card:first-of-type {
  border-top: 1px solid #E1E1E1;
}

@media screen and (min-width: 768px) {
  .conversation__card {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .conversation__card {
    width: 530px;
  }
}

.conversation__profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.conversation__submit-button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .conversation__submit-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.conversation__submit {
  display: block;
  height: 40px;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .conversation__submit {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .conversation__submit {
    height: 48px;
    width: 160px;
    font-size: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 16px;
}

@media screen and (min-width: 460px) {
  .footer {
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
    padding-left: 24px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 180px;
  }
}

.footer__getInTouch--title {
  padding-top: 10%;
}

@media screen and (min-width: 768px) {
  .footer__getInTouch--title {
    font-size: 2rem;
    display: inline-block;
    padding-top: 1%;
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__getInTouch--title {
    width: 25%;
  }
}

.footer__getInTouch--icons img {
  padding-right: 10%;
}

@media screen and (min-width: 460px) {
  .footer__getInTouch--icons img {
    padding: 0;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer__getInTouch--icons img {
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .footer__getInTouch--icons {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    visibility: visible;
    display: inline-block;
    text-align: right;
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .logo__footer {
    width: 120px;
  }
}

.footer__contacts {
  width: 90%;
}

.footer__contacts a {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (min-width: 460px) {
  .footer__contacts {
    width: 100%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 870px) {
  .footer__contacts {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    width: 70%;
  }
}

@media screen and (min-width: 1500px) {
  .footer__contacts {
    width: 75%;
  }
}

.footer__copyrights p:last-child {
  margin-bottom: 0;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer__copyrights p:last-child {
    padding-left: 5px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyrights {
    margin-top: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.footer h1 {
  margin-top: 0;
}

.footer h4 {
  font-family: "Avenir Bold";
}

.footer h4,
.footer p {
  margin: 0;
  color: #FFFFFF;
}

@media screen and (min-width: 460px) {
  .footer h4,
  .footer p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .footer h4,
  .footer p {
    font-size: 15px;
  }
}

.footer .margin-bottom {
  margin-bottom: 4vh;
}
/*# sourceMappingURL=main.css.map */