@import "./typography";
@import "./variables";

.shows {
    padding-left: 16px;

    &__button {
        height: 40px;
        width: 80%;
        background-color: $black;
        color: $white;
    }

    &__card {
        border-bottom: 1px solid $mercury;
    }

    &__heading {
        color: $silver;
        font-family: "Avenir Demi Bold";
    }

    &__button {
        margin-bottom: 10px;
        border-radius: 5px;
    }
}